<div class="col s6 form">
    <%= form_for @car do |f| %>
    <p>
        <%= f.label :make %> <br />
        <%= f.text_field :make, class: "form" %>
    </p>
    
    <p>
        <%= f.label :model %> <br />
        <%= f.text_field :name, class: "form" %>
    </p>
    
    <p>
        <%= f.label :price %> <br />
        <%= f.text_field :price, class: "form" %>
    </p>
    
    <p>
        <%= f.label :description %> <br />
        <%= f.text_area :description, class: "form" %>
    </p>
    
    <p>
        <%= f.label :picture %> <br />
        <%= f.file_field :picture, class: "form" %>
    </p>
    
    <p>
        <%= f.submit class: "btn waves-effect waves-light btn-edit", id: "white" %>
    </p>

<% end %>
</div>

<script type="text/javascript">
   $(‘#car_picture').bind('change', function() {
     var size_in_megabytes = this.files[0].size/1024/1024;
     if (size_in_megabytes > 5) {
       alert('Maximum file size is 5MB. Please choose a smaller file.');
     }
   });
 </script>
