<div class="container">
    <div align="center">
        <h2 class="page-title">CarBar list</h2>
    </div>
</div>
<div class="container">
   <div class="row">
        <div align="center">
        <%= render 'layouts/flash' %>
            
            <% @cars.each do |car| %>
                
                    <div class="well col-xs-6 col-md-3 center list">
                    
                            <td>
                                <span class="carDetail show-text"><%= car.make %><br /></span>
                                <span class="carDetail"><%=link_to car.name, car_path(car), class: "make" %><br /></span>
                                <span class="carDetail"><%= image_tag car.picture.url(:thumb) if car.picture? %></td><br /></span>
                                <td><span class="carDetail"><td> £ <%= car.price %><br /></span>
                                <span class="carDetail"><%= car.description %></td><br /></span>
                            <td><%= link_to "View", car_path(car), class: "btn btn-primary index-button" %></td>
                    
                </div>
                
            <% end %>
            
    </div>
   </div>
</div>