<div class="container">
    <div class="head-badge">
        <h2 align="center">CarBar list</h2>
    </div>
</div>
<div class="container">
   <div class="row">
        <div align="center">
        <%= render 'layouts/flash' %> 
        <table class="table">
           <thead>
                <tr>
                <th scope="col"><span class="hide">Money</span></th>
                <th scope="col">Make</th>
                <th scope="col">Image</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
            </tr>
           </thead>
            <% @cars.each do |car| %>
                <tr>
                    <th scope="row">
                        <td><%= car.make %></td>
                        <td class="IndexImage"><%= image_tag car.picture.url(:thumb) if car.picture? %></td>
                        <td><%=link_to car.name, car_path(car), class: "make" %></td>
                        <td>£ <%= car.price %></td>
                        <td><%= car.description %></td>
                        <td><%= link_to "View", car_path(car), class: "btn btn-primary" %></td>
                    </th>
                </tr>
            <% end %>
        </table>
    </div>
   </div>
</div>
