<div class="container">
    <div class="head-badge">
        <h2 align="center">Car list</h2>
    </div>
</div>
<div class="container">
    <div align="center">
        <%= render 'layouts/flash' %> 
        <table>
            <tr>
                <th>Make</th>
                <th>Image</th>
                <th>Model</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <% @cars.each do |car| %>
                <tr>
                    <td><%= car.make %></td>
                    <td class="IndexImage"><%= image_tag car.picture.url(:thumb) if car.picture? %></td>
                    <td><%=link_to car.name, car_path(car), class: "link" %></td>
                    <td><%= car.price %></td>
                    <td><%= car.description %></td>
                    <td><%= link_to "View", car_path(car), class: "btn waves-effect waves-light btn-edit" %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
