<h2>Create Car</h2>
<%= render 'errors' %>

<%= form_for @car do |f| %>
    <p>
        <%= f.label :make %> <br />
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :model %> <br />
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :price_range %> <br />
        <%= f.text_field :price_range %>
    </p>
    
    <p>
        <%= f.label :description %> <br />
        <%= f.text_area :description %>
    </p>
    
    <p>
        <%= f.label :picture %> <br />
        <%= f.text_area :picture %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>

<% end %>