<div class="container">
    <div class="">
        <h2 align="center"> <%= @car.make %> <%= @car.name %></h2>
    </div>
</div>

<div class="container">
        <div align="center">
        <div class="">
        <p>
            Make: <%= @car.make %> 
        </p>
        <p>
            Model: <%= @car.name %>
        </p>
        <p>
            Description: <%= @car.description %>
        </p>
        <p>
            Price: £<%= @car.price %>
        </p>
        </div>
        <p>
             <%= image_tag @car.picture.url if @car.picture? %>
        </p>
    
        <p>
            <%= link_to "Edit", edit_car_path(@car) %>
            <%= link_to "Cars", cars_path %>
            <%= link_to "Delete", car_path(@car) %>
        </p>
    </div>
    
</div>