
<div class="container">
    <div align="center">
        <h2 class="page-title"> <%= @car.make %> <%= @car.name %></h2>
    </div>
</div>

<div class="container show-block">
        <div align="center">
        <div class="">
        <p>
            Make: <%= @car.make %> 
        </p>
        <p>
            Model: <%= @car.name %>
        </p>
        <p>
            Description: <%= @car.description %>
        </p>
        <p>
            Price: £<%= @car.price %>
        </p>
        </div>
        <p>
             <%= image_tag @car.picture.url, class: "mainPic" if @car.picture? %>
        </p>
    
        <p>
            <%= link_to "Edit", edit_car_path(@car), class: "btn btn-primary" %>
            <%= link_to "Cars", cars_path, class: "btn btn-warning" %>
            <%= link_to "Delete", car_path(@car), method: :delete,  class: "btn btn-danger" %>
        </p>
    </div>
    
</div>