<div class="container">
    <h2 align="center">Car</h2>
</div>

<div class="container">
    <div align="center">
        <p>
            Make: <%= @car.make %> 
        </p>
        <p>
            Model: <%= @car.name %>
        </p>
        <p>
            Description: <%= @car.description %>
        </p>
        <p>
            Price: £<%= @car.price %>
        </p>
        <p>
            Picture: <%= @car.picture %>
        </p>
    </div>
    
</div>