<div class="container">
    <h2 align="center">Car <%= @car.make %> <%= @car.name %></h2>
</div>

<div class="container">
    <div align="center">
        <p>
            Make: <%= @car.make %> 
        </p>
        <p>
            Model: <%= @car.name %>
        </p>
        <p>
            Description: <%= @car.description %>
        </p>
        <p>
            Price: £<%= @car.price %>
        </p>
        <p>
            Picture: <%= @car.picture %>
        </p>
        <p>
            <%= link_to "Edit", edit_car_path(@car), class: "btn waves-effect waves-light btn-edit" %>
            <%= link_to "Cars", cars_path, class: "btn waves-effect waves-light btn-index" %>
        </p>
    </div>
    
</div>